body {
    background-color:#f8f8f8;
}

.rojo{
    background-color: #eb1010;


}
.naranja{
    background-color: #EA8411;

}

.verde{
    background-color: green;
}

.imagenparafondo{
    background-image: url_for('static', filename='images/light.jpg');
}

.fondo{
    background-color:rgb(201, 192, 192) ;    
}
