body {
    background-color:#f8f8f8;
}

.rojo{
    background-color: #eb1010;


}
.naranja{
    background-color: #EA8411;

}

.verde{
    background-color: green;
}

.imagenparafondo{
    background-image: url_for('static', filename='images/light.jpg');
}

.fondo{
    background-color:rgb(201, 192, 192) ;    
}
.gris{
    border: black 3px solid;
    background-color: rgb(168, 204, 240);
}
.textol a:hover{
    background-color: rgb(119, 178, 236);
    text-decoration-color: black;
}

.editar a:hover{
    color: blue;
}
.borrar a:hover{
    color: red;
}
.texto{
    text-decoration-color: black;
    text-decoration-thickness:inherit;

}
