{% extends "template.html" %}
{% block title %} Eliminar Libros {% endblock %}
{% block contenido %}
<div class="uk-container uk-position-center uk-box-shadow-hover-xlarge uk-padding-large">
    <h2> Estás seguro que querés eliminar el libro {{libro.titulo}}? </h2>
    <div class="uk-flex uk-row  uk-width-expand uk-margin-large-top uk-margin-xlarge-left">
        <form action="#" method='post'>
            <button class="rojo uk-width-3-3 uk-padding-small uk-border-rounded uk-margin-large-right" type="submit"> Eliminar</button>
        </form>
        <a href='{{ url_for("mostrarLibros") }}'>
            <button class="naranja uk-width-3-3 uk-padding-small uk-border-rounded uk-margin-large-left"> Cancelar</button>
        </a>
    </div>
</div>
{% endblock %}

         
