{% extends "template.html" %}
{% block title %} Libros {% endblock %}
{% block contenido %}

<div class="">
    <div class=" uk-text-center">
        <h1>Libros</h1>        
    </div> 
    <div class="uk-container uk-margin-small uk-overflow-auto uk-height-max-large ">
        <table class="uk-table uk-table-striped uk-table-condensed uk-text-nowrap">
            <tr>
                <th>Libro</th>
                <th>Genero</th>
                <th>Autor</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th></th>
            </tr>
            {% for libro in libros %}
            <tr>
                <td >{{libro.titulo}}</td>
                <td>{{libro.genero}}</td>
                <td>{{libro.autor}}</td>
                <td>
                    <a href="{{url_for('editarLibro', libro_id = libro.id )}}" uk-icon="pencil"></a>
                </td>
                <td>
                    <a href="{{url_for('eliminarLibro', libro_id = libro.id )}}" uk-icon="trash" ></a>
                </td>
                <td>
                    <a  uk-icon="trash" href="#modal" id="{{url_for('eliminarLibro', libro_id = libro.id )}}" uk-toggle></a>
                    <div id="modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body fondo">
                            <h2> Estás seguro que querés eliminar el libro {{libro.titulo}}? </h2>
                            <div class="uk-flex uk-padding-remove">
                                <form action="#" method='post' class="uk-width-1-4 uk-box-shadow-hover-xlarge ">
                                    <button class="uk-background-blend-overlay rojo uk-width-4-4 uk-padding-small uk-border-rounded uk-margin-medium-right uk-text-truncate" type="submit">Eliminar</button>
                                </form>    
                                <button class="naranja uk-modal-close uk-width-1-4 uk-padding-small uk-border-rounded uk-margin-left uk-text-truncate " type="button">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {% endfor %}
            
        </table> 
    </div>
    <div class="uk-margin-xlarge-left uk-text-center" uk-tooltip="Agregar Libro">
        <a class="" href="{{url_for('nuevoLibro')}}" uk-icon="plus"></a> 
    </div>

</div>
{% endblock %}
