{% extends "template.html" %}
{% block title %} Libros {% endblock %}
{% block contenido %}

<div class="">
    <div class=" uk-text-center">
        <h1>Libros</h1>        
    </div> 
    <div class="uk-container uk-margin-small uk-overflow-auto uk-height-max-large ">
        <table class="uk-table uk-table-striped uk-table-condensed uk-text-nowrap">
            <tr>
                <th>Libro</th>
                <th>Genero</th>
                <th>Autor</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for libro in libros %}
            <tr>
                <td >{{libro.titulo}}</td>
                <td>{{libro.genero}}</td>
                <td>{{libro.autor}}</td>
                <td class="editar">
                    <a href="{{url_for('editarLibro', libro_id = libro.id )}}" uk-icon="pencil"></a>
                </td>
                <td class="borrar">
                    <a href="{{url_for('eliminarLibro', libro_id = libro.id )}}" uk-icon="trash" ></a>
                </td>
            </tr>
            {% endfor %}
            
        </table> 
    </div>
    <div class="uk-margin-xlarge-left uk-text-center textol uk-animation-toggle">
        <a href="{{url_for('nuevoLibro')}}" class="texto uk-button-small uk-button uk-border-rounded gris uk-animation-shake"> + Agregar libro </a>
    </div>


</div>
{% endblock %}

